package com.processing.sketch;

import processing.core.PApplet;

public class Sketch extends PApplet {

    public void settings() {
    }

    public void setup() {
    }

    public void draw() {
    }
    
    public static void main (String[] args) {

    Sketch object = new Sketch();
    PApplet.runSketch(new String[]{"Sketch"}, object);
  }
}
